:root {
    --bc-color: lightslategray;
    --header-color: lightgreen;
    --h3-color: lightyellow;
}

body {
    height: 92vh;
    width: 92vw;
    max-height: 900px;
    background-color: lightslategray;
}

header {
    width: 92vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: var(--bc-color);
    color: var(--header-color);
}

h3 {
    width: 512px;
    height: 5vh;
    display: flex;
    margin:  auto;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: var(--h3-color);
}

canvas {
    display: block;
    margin: 30px auto 0;
}