:root {
    --bc-color: lightslategray;
    --header-color: lightgreen;
    --h3-color: lightyellow;
    --bt-color: black;
}

body {
    display: block;
    margin: auto;
    height: 92vh;
    width: 92vw;
    max-height: 900px;
    background-color: lightslategray;
}

header {
    width: 92vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: var(--bc-color);
    color: var(--header-color);
}

h3 {
    width: 512px;
    height: 5vh;
    display: flex;
    margin:  1rem auto;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: var(--h3-color);
}

canvas {
    display: block;
    margin: 30px auto 0;
}

#options {
    width: 512px;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: var(--bt-color);
    background-color: var(--header-color);
    margin: .3rem auto;
    font: bold;
    color: var(--bt-color);
}

#velocity {
    display: flex;
    flex-direction: row;
}

#game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--bt-color);
    font-family: 'Press Start 2P', sans-serif;
    z-index: 99;
    margin: -20px auto;
}